<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>90.12</string>
	<key>angleVariance</key>
	<string>178.06</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>1</string>
	<key>duration</key>
	<string>0.800</string>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>0.995</string>
	<key>finishColorVarianceAlpha</key>
	<string>1.000</string>
	<key>finishColorVarianceBlue</key>
	<string>1.000</string>
	<key>finishColorVarianceGreen</key>
	<string>1.000</string>
	<key>finishColorVarianceRed</key>
	<string>1.000</string>
	<key>finishParticleSize</key>
	<string>4.65</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>-29.41</string>
	<key>gravityy</key>
	<string>-1318.93</string>
	<key>maxParticles</key>
	<string>88.24</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.37</string>
	<key>particleLifespanVariance</key>
	<string>0.82</string>
	<key>radialAccelVariance</key>
	<string>-57.67</string>
	<key>radialAcceleration</key>
	<string>-821.54</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>7.540</string>
	<key>sourcePositionVariancey</key>
	<string>9.364</string>
	<key>sourcePositionx</key>
	<string>153.280</string>
	<key>sourcePositiony</key>
	<string>330.440</string>
	<key>speed</key>
	<string>142.16</string>
	<key>speedVariance</key>
	<string>136.26</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>0.995</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>1.000</string>
	<key>startColorVarianceBlue</key>
	<string>1.000</string>
	<key>startColorVarianceGreen</key>
	<string>1.000</string>
	<key>startColorVarianceRed</key>
	<string>1.000</string>
	<key>startParticleSize</key>
	<string>4.55</string>
	<key>startParticleSizeVariance</key>
	<string>5.00</string>
	<key>tangentialAccelVariance</key>
	<string>-29.11</string>
	<key>tangentialAcceleration</key>
	<string>-0.45</string>
	<key>textureFileName</key>
	<string>Enemy3.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
