<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>0.00</string>
	<key>angleVariance</key>
	<string>360.00</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>1</string>
	<key>duration</key>
	<string>0.400</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>1.000</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.000</string>
	<key>finishColorVarianceBlue</key>
	<string>0.000</string>
	<key>finishColorVarianceGreen</key>
	<string>0.000</string>
	<key>finishColorVarianceRed</key>
	<string>0.000</string>
	<key>finishParticleSize</key>
	<string>5.18</string>
	<key>finishParticleSizeVariance</key>
	<string>0.00</string>
	<key>gravityx</key>
	<string>0.21</string>
	<key>gravityy</key>
	<string>228.47</string>
	<key>maxParticles</key>
	<string>39.80</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.20</string>
	<key>particleLifespanVariance</key>
	<string>0.20</string>
	<key>radialAccelVariance</key>
	<string>50.44</string>
	<key>radialAcceleration</key>
	<string>749.77</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>27.840</string>
	<key>sourcePositionVariancey</key>
	<string>30.216</string>
	<key>sourcePositionx</key>
	<string>163.675</string>
	<key>sourcePositiony</key>
	<string>254.511</string>
	<key>speed</key>
	<string>78.35</string>
	<key>speedVariance</key>
	<string>0.00</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>1.000</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>6.00</string>
	<key>startParticleSizeVariance</key>
	<string>5.94</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<string>0.05</string>
	<key>textureFileName</key>
	<string>Enemy1.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
