<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>Butterfly_48_48_fly</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Butterfly_fly_48_48_1.png</string>
				<string>Butterfly_fly_48_48_2.png</string>
				<string>Butterfly_fly_48_48_3.png</string>
				<string>Butterfly_fly_48_48_4.png</string>
				<string>Butterfly_fly_48_48_5.png</string>
				<string>Butterfly_fly_48_48_6.png</string>
				<string>Butterfly_fly_48_48_7.png</string>
				<string>Butterfly_fly_48_48_8.png</string>
			</array>
			<key>delay</key>
			<real>0.03</real>
		</dict>
        <key>Butterfly_48_48_dead</key>
		<dict>
			<key>frames</key>
			<array>
				<string>Butterfly_fly_48_48_1.png</string>
				<string>Butterfly_fly_48_48_2.png</string>
				<string>Butterfly_fly_48_48_3.png</string>
				<string>Butterfly_fly_48_48_4.png</string>
				<string>Butterfly_fly_48_48_5.png</string>
				<string>Butterfly_fly_48_48_6.png</string>
				<string>Butterfly_fly_48_48_7.png</string>
				<string>Butterfly_fly_48_48_8.png</string>
			</array>
			<key>delay</key>
			<real>0.01</real>
		</dict>

	</dict>
</dict>
</plist>
