<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>139.83</string>
	<key>angleVariance</key>
	<string>67.51</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>1</string>
	<key>duration</key>
	<string>1.0</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>1.000</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.000</string>
	<key>finishColorVarianceBlue</key>
	<string>0.000</string>
	<key>finishColorVarianceGreen</key>
	<string>0.000</string>
	<key>finishColorVarianceRed</key>
	<string>0.000</string>
	<key>finishParticleSize</key>
	<string>3.00</string>
	<key>finishParticleSizeVariance</key>
	<string>3.00</string>
	<key>gravityx</key>
	<string>-0.79</string>
	<key>gravityy</key>
	<string>1.19</string>
	<key>maxParticles</key>
	<string>32.18</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>0.00</string>
	<key>particleLifespanVariance</key>
	<string>1.49</string>
	<key>radialAccelVariance</key>
	<string>0.29</string>
	<key>radialAcceleration</key>
	<string>88.01</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>3.148</string>
	<key>sourcePositionVariancey</key>
	<string>9.364</string>
	<key>sourcePositionx</key>
	<string>158.898</string>
	<key>sourcePositiony</key>
	<string>234.870</string>
	<key>speed</key>
	<string>112.25</string>
	<key>speedVariance</key>
	<string>308.82</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>1.000</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>6.24</string>
	<key>startParticleSizeVariance</key>
	<string>6.00</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<string>0.03</string>
	<key>textureFileName</key>
	<string>gold_coin_128_128.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
