<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>180.02</string>
	<key>angleVariance</key>
	<string>360.00</string>
	<key>blendFuncDestination</key>
	<string>771</string>
	<key>blendFuncSource</key>
	<string>1</string>
	<key>duration</key>
	<string>-1.000</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<string>1.000</string>
	<key>finishColorBlue</key>
	<string>1.000</string>
	<key>finishColorGreen</key>
	<string>1.000</string>
	<key>finishColorRed</key>
	<string>1.000</string>
	<key>finishColorVarianceAlpha</key>
	<string>0.000</string>
	<key>finishColorVarianceBlue</key>
	<string>0.000</string>
	<key>finishColorVarianceGreen</key>
	<string>0.000</string>
	<key>finishColorVarianceRed</key>
	<string>0.000</string>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<string>0.00</string>
	<key>gravityx</key>
	<string>-0.79</string>
	<key>gravityy</key>
	<string>27.11</string>
	<key>maxParticles</key>
	<string>186.27</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<string>6.29</string>
	<key>particleLifespanVariance</key>
	<string>5.66</string>
	<key>radialAccelVariance</key>
	<string>0.45</string>
	<key>radialAcceleration</key>
	<string>-0.18</string>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>sourcePositionVariancex</key>
	<string>346.043</string>
	<key>sourcePositionVariancey</key>
	<string>544.000</string>
	<key>sourcePositionx</key>
	<string>163.675</string>
	<key>sourcePositiony</key>
	<string>250.806</string>
	<key>speed</key>
	<string>26.11</string>
	<key>speedVariance</key>
	<string>0.00</string>
	<key>startColorAlpha</key>
	<string>1.000</string>
	<key>startColorBlue</key>
	<string>1.000</string>
	<key>startColorGreen</key>
	<string>1.000</string>
	<key>startColorRed</key>
	<string>1.000</string>
	<key>startColorVarianceAlpha</key>
	<string>0.000</string>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<string>0.000</string>
	<key>startParticleSize</key>
	<string>15.86</string>
	<key>startParticleSizeVariance</key>
	<string>22.94</string>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<string>0.05</string>
	<key>textureFileName</key>
	<string>/Users/fxyang/Documents/Projects/IOS/supercell/supercell/Resources/Dandelion.png</string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
